*{
    font-weight: 400;
}


textarea{
    resize: revert;
    padding: 7px 7px;
    border-radius: 10px;
    border: #86324E solid 2px;
}

body{
    background-color: aquamarine;
    font-family: Fantasy, OpenSymbol, sans-serif;
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

.pForm{
    margin-top: 25px;
}

.card{
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: rgba(207,204,255,0.51);
    border: #d4b5c8 inset 2px;
    border-radius: 10px;
    padding: 14px;
}

#columns{
    display: flex;
}
.column{
    width: 35%;
    text-align: center;
    padding: 1px 100px;
}

.change{
    border-top: rgba(31,72,181,0.68) 2px double;
    margin-top: 20px;
}

ul{
    padding: 0;
    margin-bottom: 0px;
}

li{
    list-style-type: none;
    margin: 5px;
}

button{
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 10px;
}

#form {
    text-align: center;
    display: block;
}

input{
    border: none;
    width: 190px;
    padding: 8px 11px;
    border-radius: 10px;
}
